#shared
DATA_FILENAME=data/data.json
LAST_UPDATE_FILENAME=data/last-updated.json
TIMEZONE=<your timezone>

# backend
API_PORT=5001

# frontend - VITE_APP_VARS are located in frontend/.env
WEB_PORT=80

# task
LOGIN_API_ENDPOINT=https://api.bambulab.com/v1/user-service/user/login
PROFILE_API_ENDPOINT=https://api.bambulab.com/v1/user-service/my/profile
ACCOUNT=<your account bambulab>
PASSWORD=<your password bambulab>